#ArticleOne{
    background-color: red;
}

p{
    background-color: orange;
}

h1{
    background-color: pink;
}

header{
background-color: yellow;
}

article{background-color: greenyellow;

}

section{
background-color: cyan;
}